<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Petition</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Baskerville">
    <link rel="stylesheet" href= "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>



   {{{body}}}


   <script type="text/javascript" src="/public/script.js"></script>
    <script type="text/javascript" src="/public/script1.js"></script>
</body>
</html>
